* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #626cd6;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

textarea,
input {
  outline: none;
}

/* 최소 너비 250px, 자동으로 반응형됨 */
.wrapper {
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));

  /* grid-template-columns: repeat(auto-fill, minmax(265px, auto)); */
  /* grid-template-columns: repeat(auto-fill, 265px); */
  /* grid-template-columns: repeat(7, 1fr); */
}

.wrapper li {
  height: 250px;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
}

.add-box,
.icon,
.bottom-content,
.popup,
header,
.settings .menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.add-box .icon {
  height: 78px;
  width: 78px;
  color: #626cd6;
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed #626cd6;
}

.add-box p {
  color: #626cd6;
  font-weight: 500;
  margin-top: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.note p {
  font-size: 22px;
  font-weight: 500;
}
.note span {
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}

.note .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.bottom-content span {
  color: #6d6d6d;
  font-size: 14px;
}

.bottom-content .settings {
  position: relative;
}

.bottom-content .settings i {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 15px;
}

.settings .menu {
  position: relative;
}

.settings .menu {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: -5px;
  /* padding: 5px 0; */
  background: #fff;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.settings.show .menu {
  transform: scale(1);
}

.settings .menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 6px 18px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li:hover {
  background: #f5f5f5;
}

.menu li i {
  padding-right: 8px;
}

/* popup */
.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
}

/* .popup-box{ */
.popup-box,
.popup-box .popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.popup-box.show,
.popup-box.show .popup {
  opacity: 1;
  pointer-events: auto;
}

.popup .content {
  border-radius: 5px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.popup .content header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}

.content header p {
  font-size: 20px;
  font-weight: 500;
}

.content header i {
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}

.content form {
  margin: 15px 25px 35px;
}

.content form .row {
  margin-bottom: 20px;
}

form .row label {
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}

.content form :where(input, textarea) {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}

.content form textarea {
  height: 150px;
  resize: none;
  padding: 8px 15px;
}

.content form button {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  background: #626cd6;
}
